.gradle/
build/
.kotlin/
!gradle/wrapper/gradle-wrapper.jar

local.properties
/captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.ap_
*.dex
output-metadata.json

*.jks
*.keystore
keystore.properties
signing.properties
google-services.json

*.iml
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml
.idea/shelf/
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/deploymentTargetSelector.xml
.idea/deploymentTargetDropDown.xml
.idea/appInsightsSettings.xml
.idea/androidTestResultsUserPreferences.xml
.idea/migrations.xml
.idea/jarRepositories.xml
.idea/markdown.xml

.DS_Store
Thumbs.db
*.log
*.hprof
